<%= form_with(model: contract, local: true) do |form| %>
        
<%= form.text_field :name, placeholder: "name" %>
<%= form.hidden_field :student_id, :value => current_student.id %>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

