<h1>Contract </h1>
<div class="section-two">

<div class="newForm">

<h2 class="accent-title">Write something</h2>
<h1 class="form-headline">Create profile</h1>
<br>

<%= render 'student_form' %>

</div>

</div>