<h1>Students list</h1>
<div id="students-list">
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Programme</th>
    <th>Company</th>
    <th>Position</th>
    <th>Meetings</th>
  </tr>
<%= @programme.inspect %>
<% @students.each do |student| %>
    <tr>
        <td><%= link_to student.name, student %> </td>
        <td> <%= student.email %></td>
        <td> <%= @programme.name %></td>
        <td> <%#= student.programme_id %></td>
    
    </tr>
    <% end %>
</table>
</div>