<h1>Student list</h1>

<% @students.each do |student| %>
    <div class="single-employee row">
      <div class="info col-xs-8 col-sm-10">
        
        <%= link_to student.name, student %> 
        <p class="spots"> <%= student.email %></p>
        <p class="industry"> <%= student.mobile_phone %></p>
        <p class="address"> <%= student.programme_id %></p>
    
      </div>
    </div>
    <% end %>