<p class="name"><%= @student.name %></p>

<%= link_to 'Book a meeting', meetings_path, class:"btn" %>


<a id="contact" href="mailto:andammihu@gmail.com">Contact</a>

<%= link_to 'Internship contract', contract_path(@student), class:"btn" %>
