<% @companies.each do |company| %>
    <div class="single-employee row">
      <div class="info col-xs-8 col-sm-10">
        
        <h3> Company name </h3>
        <%= link_to company.name, company %> 
        
        <p class="name"><%#= @positions.name %></p>
        <h3> Available spots </h3>
        <p class="spots"> <%= company.available_spots %></p>
        <h3> Industry name </h3>
        <p class="industry"> <%= @industry.name %></p>
        <h3> Company address </h3>
        <p class="address"> <%= company.company_address %></p>
    
      </div>
    </div>
    <% end %>