<div id= "access-person">

<div class="links">
<h1>I am a...</h1>

<%#= radio_button_tag(:age, "child") %>
<%= link_to 'Teacher', new_teacher_session_path, class:"btn" %>
<%#= label_tag(:age_child, "Teacher") %><br>

<%#= radio_button_tag(:age, "adult") %>
<%= link_to 'Student', new_student_session_path, class:"btn" %>
<%#= label_tag(:age_adult, "Student") %><br>

<%#= radio_button_tag(:age, "adult") %>
<%= link_to 'Employer', new_company_user_session_path, class:"btn" %>
<%#= label_tag(:age_adult, "Company") %><br>
</div>

</div>