<div class="st-heading">
<h1>My profile</h1>
</div>

<% if teacher_signed_in? && current_teacher.specialization.nil? %>
<h2>Update your profile </h2>
<% end %><br>

<%= render 'form', current_teacher: current_teacher %>
