<%#= @uni.inspect %>

<h1>Internship coach</h1>

<div class="single-employee row">
      <div class="info col-xs-8 col-sm-10">
        <p class="name"><%= @teacher.name %></p>
        <p class="email"><%= @teacher.email %></p>
        <p class="mobile"><%= @teacher.specialization %></p>
        <p class="education"> <%= @uni.name %></p>

</div>
       
