a,
a:link,
a:visited,
a:hover {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  -webkit-transition: 100ms opacity ease;
  -o-transition: 100ms opacity ease;
  transition: 100ms opacity ease;
}

a:hover {
  opacity: 0.6;
}
