$dark-yellow: #e49f42;
$medium-yellow: #efb850;
$light-yellow: #fbe48c;

$dark-green: #3a9b88;
$medium-green: #46ada9;
$light-green: #6ab9ad;
$yellow-green: #ccbf56;

$dark-red: #7c1228;
$dark-orange: #ec5732;
$medium-orange: #f06a23;
$light-orange: #e37222;

$dark-blue: #0b1f3a;
$medium-blue: #07435f;
$semi-blue: #1d89a6;
$light-blue: #33b6ca;

$dark-greyish: #bfc0c1;
$medium-grey: #dfdde2;
$input-grey: #f1f1f4;
$input-border: #e2e3e4;
$light-grey: #f8f9fb;

// $primary-color: #292b30;
// $secondary-color: #232429;
// $text-color: #ffffff;
// $accent-color: #f1af51;
// $input-background-color: #35373c;
// $input-light-gray: #d3d3d3;
// $logout: #686869;
// $deactivate: #1e2024;
// $padding: 20px;
// $main-padding: 50px;
// $nav-color: #ffffff;
// $header-color: #232429;
// $paddingSetting: 30px;

